.sidenav {
    width: 250px;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    padding-top: 40px;
    border-width: 2px;
    background-color: #1E2732;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    display: block;
    color: gray;
    display: flex;
    align-items: center;
    font-weight: 550;
}

#profile-container {
    display: flex;
    justify-content: center;
}


#link-container {
    margin-top: 30px;
}

.sidenav a:hover {
    color: white;
}


.sidenav .active{
    color:white;
}


#profile-img {
    height: 200px;
    width: 200px;
    border-radius: 100%;
}

#brand {
    height: 33%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center; 
}

#logo {
    height: 175px;
    width: 175px;

}

@media screen and (max-height: 475px) {
    .sidenav {padding-top: 20px;}
    .sidenav a {font-size: 18px;}
    #profile-img {
        height: 150px;
        width: 150px;
    }
    #logo {
        height: 150px;
        width: 150px;
    }
    #link-container {
        margin-top: 20px;
    }
    #brand {
        display: none;
    }
}