#dashboard-page-yatirim{
    float: left;
    width: 25%; 
    height: auto;
    background-color: #1E2732;
    border-radius: 40px;
    padding: 20px;
}

.dashboard-page-encok{
    width: 50%;
    height: auto;
    padding: 20px;
    background-color: #1E2732;
    float: left;
    border-radius: 40px;
}

.dashboard-small-page{
    width: 95%;
    margin-top: 10px;
    border-radius: 40px;
    padding: 10px;
    height: 30px;
    display: flex;
    align-items: center;
}

.kar{
    color: green;
    margin-left: 150px;
}

.zarar{
    color: red;
    margin-left: 150px;
}

.dashboard-small-page:hover{
    background-color: black;
    color: white;
}



.adlar{
    margin-left: 10px;
}

.icon{
    float: left;
    width: 30px;
    height: 30px;
}

#yatirim{
    font-weight: bolder;
}

body {
    background-color: #15202B;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu, sans-serif;
}

.main-container {
    margin-left: 250px;
}
