body {
    background-color: #15202B;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu, sans-serif;
}

a {
    color: white;
}

.main_container {
    margin-left: 250px;
}