

.top-containers{
    display: flex;
}

.market-summary {
    width: 100%;
    margin: 10px;
    padding: 15px;
    background-color: #1E2732;
    border-radius: 15px;   
}

.summary-title {
    font-weight: bold;
}

.all-coins {
    width: calc(100% - 20);
    margin: 10px;
    padding: 10px;
    background-color: #1E2732;
    border-radius: 15px;
}

.symbol {
    width: 100%;
    display: flex;
    align-items: center;
    font-weight: 800;
}

.icon {
    width: 32px; height:32px; margin-right: 7px;
}

.price {
    width: 100%;
}

.change {
    width: 50%;
    display: inline-flex;
    justify-content: end;
    font-weight: 800;
}

.title-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 20px;
}

.coin-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.coin-list-item {
    display:flex;
    justify-content: space-between;
    padding: 10px;
    width:100%;
}

.coin-list-item:hover {
    background-color: black;
    border-radius: 5px;
    width: calc(100% - 20px);
}


.title-item {
    width: 100%;
}

.item-symbol {
    width: 100%;
    display: flex;
    align-items: center;
    font-weight: 800;
}

.item-price {
    width: 100%;
    display: flex;
    align-items: center;

}

.item-change {
    width: 100%;
    display: flex;
    align-items: center;
    font-weight: 800;
}

#item-change-div {
    width: 55px;
    display: flex;
    justify-content: end;
    align-items: center;
    font-weight: 800;
}

.item-volume {
    width: 100%;
    display: flex;
    align-items: center;
} 

.increase {
    color:#03A66D;
}

.down {
    color:#CF304A;
}