body {
    background-color: #15202B;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu, sans-serif;
    user-select: none;
}

.main-container {
    margin-left: 250px;
    
}

